.header {
  color: var(--text-dark);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  background-color: var(--nav);
  height: 80px;
  padding: var(--site-padding);
  border-bottom: 3px solid var(--divider);
}

.logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 2rem;
}

.site-name {
  color: var(--accent-med);
  font-size: 1rem;
  letter-spacing: -1px;
  font-weight: 900;
}

.nav-container {
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-container a {
  color: var(--text-dark);
  transition: all 300ms;
}

.nav-container a:hover {
  color: var(--accent-med);
  background-size: 1px 1em;
  transform: translate(0px, -3px);
}

.cart-likes-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cart-total {
  color: var(--accent-light);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 40px;
  padding: 5px;
  border-radius: 50%;
  background-color: var(--accent-med);
  width: 10px;
  height: 10px;
  font-size: 0.8rem;
  font-weight: 800;
}

.cart-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  padding: 10px;
  border-radius: 50%;
  transition: all 400ms ease;
}

.cart-img:hover {
  cursor: pointer;
  background-color: var(--accent-light);
}

.cart-wrapper {
  position: relative;
  transition: all 200ms ease;
}

.cart-wrapper:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.heart-container {
  height: 35px;
  width: 35px;
  padding: 0.2rem;
  transition: all 200ms ease-out;
}

.heart-container img {
  height: 35px;
  width: 35px;
}

.heart-container:hover {
  transform: scale(1.2);
  content: url("../assets/heart-full.svg");
  cursor: pointer;
}
