.shop-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow: auto;
  min-height: calc(100vh - 230px);
  padding: var(--site-padding);
}

.shop-categories {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 2rem;
  font-weight: 800;
}

.categories-list {
  display: flex;
  text-transform: uppercase;
  gap: 1rem;
  font-size: 0.8rem;
}

.category-item {
  color: var(--accent-dark);
  padding: 2px 10px;
  border-radius: 10px;
  transition: all 200ms;
}

.category-item.selected {
  background-color: var(--accent-light);
}

.category-item:hover {
  background-color: var(--nav);
  color: var(--accent-med);
  cursor: pointer;
}

.shop-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
  justify-content: center;
  gap: 2rem;
}
