@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.inter-light {
  font-family: "Inter", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-bold {
  font-family: "Inter", system-ui;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: bold;
}

#root {
  --bg-light: #fcfcfd;
  --divider: #e0e1e6;
  --nav: #e7e8ec;
  --text-dark: #1e1f24;
  --text-light: #743ecc;
  --accent-med: #7c3cdd;
  --accent-light: #d6c6ff;

  --site-padding: 0 15vw;

  margin: 0 auto;
  padding: 0rem;
  font-family: "Inter", system-ui;
  color: var(--text-dark);
  background-color: var(--bg-light);
  height: 100vh;
}

.main-content {
  padding: 0;
}
